{% extends 'partials/base.html.twig' %}

{% block content %}
{{ page.content }}
<div class="content-wrapper">
    <div id="networks">
    	{% for module in page.collection() %}
		    <div id="{{ _self.pageLinkName(module.menu) }}"></div>
		    {{ module.content }}
		{% endfor %}
    </div>
</div>
{% endblock content %}
